<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/img/favicon.png">

    <title>Jasper | Documentation</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Syntax highlighting -->
    <link href="/static/css/syntax.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/main.css" rel="stylesheet">

    <!-- Fonts from Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><b>JASPER</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/#about">About</a></li>
            <li><a href="/documentation">Documentation</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <br /><br /><br />
    <br />

    <div class="container">
        <div class="row">
            <div class="col-sm-2">
              <nav class="nav-sidebar">
                  <ul class="nav">
                      <li {% if page.currentpage == "home" %}class="active"{% endif %}><a href="/documentation">Home</a></li>
                      <li {% if page.currentpage == "hardware" %}class="active"{% endif %}><a href="/documentation/hardware">Hardware</a></li>
                      <li {% if page.currentpage == "software" %}class="active"{% endif %}><a href="/documentation/software">Software</a></li>
                      <li {% if page.currentpage == "usage" %}class="active"{% endif %}><a href="/documentation/usage">Usage</a></li>
                      <li {% if page.currentpage == "api" %}class="active"{% endif %}><a href="/documentation/api">Developer API</a></li>
                      <li {% if page.currentpage == "faq" %}class="active"{% endif %}><a href="/documentation/faq">FAQ</a></li>
                  </ul>
              </nav>
          </div>
          <div class="col-sm-10">
            {{ content }}
          </div>
        </div>
    </div>

    <div class="container">
        <hr>
        <p class="centered">Created by Charlie Marsh &amp; Shubhro Saha. Theme based on BlackTie.co. Icons from Noun Project.</p>
    </div><!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
