<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/img/favicon.png">

    <title>Jasper | Documentation</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Syntax highlighting -->
    <link href="/static/css/syntax.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/main.css" rel="stylesheet">

    <!-- Fonts from Google Fonts -->
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-3539301-18', 'jasperproject.github.io');
      ga('send', 'pageview');

    </script>

  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><b>JASPER</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/#about">About</a></li>
            <li><a href="/documentation">Documentation</a></li>
            <li><a target="_blank" href="https://github.com/jasperproject">GitHub</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <br /><br /><br />
    <br />

    <div class="container">
        <div class="row">
            <div class="col-sm-2">
              <nav class="nav-sidebar">
                  <ul class="nav">
                      <li {% if page.currentpage == "home" %}class="active"{% endif %}><a href="/documentation">Home</a></li>
                      <li {% if page.currentpage == "hardware" %}class="active"{% endif %}><a href="/documentation/hardware">Hardware</a></li>
                      <li {% if page.currentpage == "software" %}class="active"{% endif %}><a href="/documentation/software">Software</a></li>
                      <li {% if page.currentpage == "usage" %}class="active"{% endif %}><a href="/documentation/usage">Usage</a></li>
                      <li {% if page.currentpage == "api" %}class="active"{% endif %}><a href="/documentation/api">Developer API</a></li>
                      <li><a target="_blank" href="https://github.com/jasperproject/jasper-client/blob/master/CONTRIBUTING.md">Contribute</a></li>
                      <li {% if page.currentpage == "modules" %}class="active"{% endif %}><a href="/documentation/modules">Modules</a></li>
                      <li {% if page.currentpage == "faq" %}class="active"{% endif %}><a href="/documentation/faq">FAQ</a></li>
                      <li {% if page.currentpage == "license" %}class="active"{% endif %}><a href="/documentation/license">License</a></li>
                  </ul>
              </nav>
          </div>
          <div class="col-sm-10" style="background-color:#FFF; margin-left:-15px;">
            {{ content }}
          </div>
        </div>
    </div>

    <div class="container">
        <hr>
        <p class="centered">Created by Charlie Marsh &amp; Shubhro Saha. Theme based on BlackTie.co. Icons from Noun Project.</p>
    </div><!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
